<div>

  <h2>Latest Posts</h2>

  <template is="dom-repeat" items="{{posts}}">
    <p>Title: {{item.title}}<p>
  </template>

  <!--<div v-for="(post, index) in posts">-->

    <!--<div v-if="index < maxPosts" class="post">-->
      <!--<h4 class="post-header">{{post.title}}-->
        <!--<span class="post-time">[ {{ post.createdTimeFormatted }} ]</span>-->
      <!--</h4>-->

      <!--<details v-html="post.summary" class="post-summary"></details>-->

      <!--<router-link :to="{ path: `/posts/${post.id}`}">Click for full details</router-link>-->

      <!--<hr/>-->
    <!--</div>-->

  <!--</div>-->

</div>